*{
    margin: 0;
    padding: 0;
    font-family: '';
    box-sizing: border-box;
}
body{
    background: rgb(52, 49, 49);
}
.card{
    width: 90%;
    max-width: 650px;
    background: linear-gradient(135deg,#00feba,#5b548a);   
    color: #fff;
    margin: 40px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border:0;
    outline:0;
    background: #f1fffd;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    text-align: center;
}
.search button{
    border:0;
    outline:0;
    background: #e3f4f1;
    border-radius: 50%;
    width: 70px;
    height: 65px;
    cursor: pointer;
}
.search button:hover{
    background-color: rgb(255, 255, 255);
}
.search button img{
    width:30px;
}
.weather-icon{
    width:170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 65px;
    font-weight: 500;
}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 100px;
     margin-top: 50px;
}
/* .col{
    display: flex;
    align-items: center;
    text-align: center;
} */
.humidity,.wind{
    font-size: 25px;
    margin-top: 10px;
}
.greet{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 150px;
    margin-bottom: 237px;
    background: linear-gradient(135deg,#00feba,#5b548a); 
    color: rgb(251, 251, 251);
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
}
.weather{
    display: none;
}
.error{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color:red;
    font-weight: 700;
    display: none;
}

